*{
  box-sizing: border-box;

}

body{
	font-family: 'Oswald', sans-serif;
   
    text-align: center;

    font-size: 22px;
    line-height: 34px;
    
  background: url("../images/smoke.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

}

#quizArea{
	color:#008000;
}

#title{
	color:#ffffff;
}


#quizAreaTimer{
	color:#ffffff;
}